[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
passlib = "*"
motor = "*"
dnspython = "*"
sanic-motor = "*"
sanic-jwt = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.6"
